<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quaerat illo ipsam, culpa quas voluptatem dolore asperiores. Ea, voluptatem fugiat alias asperiores repudiandae exercitationem officia id libero. Perspiciatis alias maiores exercitationem, modi molestiae reiciendis nostrum adipisci optio unde, impedit recusandae.</p>
    </div>
</div>